@import "tailwindcss";

@theme {
  --font-general: "General Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "General Sans";
  src: url("/fonts/GeneralSans-Variable.ttf") format("truetype");
  font-weight: 100 900; /* For variable fonts */
  font-style: normal;
}

@font-face {
  font-family: "General Sans";
  src: url("/fonts/GeneralSans-VariableItalic.ttf") format("truetype");
  font-weight: 100 900; /* For variable fonts */
  font-style: italic; /* Changed from normal to italic */
}
body {
  background: var(--background);
  color: var(--foreground);
}

.faq-card {
  background: #192420; /* default background */
  border-radius: 12px;
  transition: background 0.3s ease;
}

.faq-card:hover {
  background: linear-gradient(
      0deg,
      var(--Color-Card, #192420),
      var(--Color-Card, #192420)
    ),
    radial-gradient(
      51.72% 51.72% at 50% 92.16%,
      rgba(31, 255, 165, 0.2) 0%,
      rgba(31, 255, 165, 0.02) 100%
    );
}
@media (min-width: 300px) and (max-width: 639px) {
  .br-400 {
    display: block;
  }
}

.br-400 {
  display: none;
}
@layer utilities {
  @media (max-width: 400px) {
    .grid-cols-1-xs {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}
@keyframes scroll-infinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-infinite {
  animation: scroll-infinite 15s linear infinite; /* slower for smoothness */
  display: flex;
  will-change: transform;
}
